<div id="chart">
	
</div>

<script>
	$(function () {
    $('#chart').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: '1-min'
        },
        yAxis: {
            title: {
                text: 'Value'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        series: [{
            name: '{{vm}}',
            data: {{points}}
        }]
    });
});
</script>