<div id="tabs">
  <ul>
	{{#docs}}
    <li><a href="#{{name}}">{{name}}</a></li>
	{{/docs}}
  </ul>
  {{#docs}}
  <div id="{{name}}">
	  <p>{{data}}</p>
  </div>
  {{/docs}}
   </div>
</div>

  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
	
