<ul class="list-group" >
    {{#docs}}
    <li class="list-group-item">
      <div class="row">
      <div class="col-md-5">{{hostname}}</div>
      <div class="col-md-1 col-md-offset-4">
      {{#ifCond state 'RUNNING'}}
        <span class="label label-default">Running</span>
      {{/ifCond}}
      {{#ifCond state 'BOOTED'}}
        <span class="label label-warning">Booting</span>
      {{/ifCond}}
      {{#ifCond state 'STARTED'}}
        <span class="label label-warning">Starting</span>
      {{/ifCond}}
      {{#ifCond state 'ENDED'}}
        <span class="label label-warning">Ended</span>
      {{/ifCond}}
      {{#ifCond state 'DELETED'}}
        <span class="label label-success">Finished</span>
      {{/ifCond}}
       </div>
      
      <div class="col-md-2">
      <button type="button" class="btn btn-default" onclick="chart('{{hostname}}')"><span class="glyphicon glyphicon-signal" aria-hidden="true"></button>
      <button type="button" class="btn btn-default" onclick="show('{{hostname}}')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></button>
      {{#ifCond state 'RUNNING'}}
       <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      {{/ifCond}}
      {{#ifCond state 'BOOTED'}}
         <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>    
      {{/ifCond}}
      {{#ifCond state 'STARTED'}}  
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button> 
      {{/ifCond}}
      {{#ifCond state 'DELETED'}}  
        <button type="button" class="btn btn-default disabled"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button> 
      {{/ifCond}}
      </div>
    </li>
  {{/docs}}
  </ul>
  <nav>
    <ul class="pager">
      {{#ifCond lastpage -1}}
        <li disabled><a href="/{{lastpage}}">Previous</a></li>
      {{else}}
        <li><a href="/{{lastpage}}">Previous</a></li>
      {{/ifCond}}
        <li><a href="/{{nextpage}}">Next</a></li>
    </ul>
  </nav>