<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://matchingnotes.com/javascripts/leaflet-google.js"/></script>
    <!-- Next line is necessary to show the base layer -->
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"/></script>
		<style type="text/css">
			#map_div { height: 100%; }
			.leaflet-map-pane {
			    z-index: 2 !important;
			}
			.leaflet-google-layer {
			    z-index: 1 !important;
			}
		</style>
	</head>
	<body>
    {{{body}}}
	</body>
</html>
