
<div class="row">
  <div class="btn-group col-md-5" data-toggle="buttons" >
    <label class="btn btn-primary active">
      <input type="radio" name="state" id="state_all" value="All" autocomplete="off" checked> All
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="state" id="state_stating" value="Starting" autocomplete="off"> Stating
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="state" id="state_booted" value="Booted" autocomplete="off"> Booting
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="state" id="state_running" value="Running" autocomplete="off"> Running
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="state" id="state_ended" value="Ended" autocomplete="off"> Ended
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="state" id="state_finished" value="Deleted" autocomplete="off"> Finished
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="state" id="state_error" value="Error" autocomplete="off"> Error
    </label>
  </div>
  
  <div class="col-md-6 col-md-offset-1">
  <div class="btn-group" data-toggle="buttons" style="float:right">
    <label class="btn btn-info active">
      <input type="radio" name="site" id="All_sites" value="All" autocomplete="off" checked> All
    </label>
    {{#sites}}
      <label class="btn btn-info">
        <input type="radio" name="site" id="{{name}}_sites" value="{{name}}" autocomplete="off"> {{name}}
      </label>
    {{/sites}}
  </div>
  </div>
</div>

<div class="row" style="margin-top:0.5em;margin-bottom:0.5em">
<div class="input-group col-md-12">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" id="search_btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </span>
  <input type="text" class="form-control" placeholder="Search for..." id="search_txt">
</div>
</div>

<div class ="row">
  <div id="table" class="col-md-12">
  
  </div>
</div>

<script>
  
    function chart(hostname){
      $.colorbox({href:"chart/"+hostname,width:"80%",height:"400px"});
      console.log(hostname)
    }
    function show(hostname){
      $.colorbox({href:"logs/"+hostname,width:"50%",height:"50%"});
      console.log(hostname)
    }
  
    var generateUrlTable = function( ){
    var search = $("#search_txt").val();
    var state = $('input[name=state]:checked').val();
    var site = $('input[name=site]:checked').val();
    
    var parameter = false;
    var url = "/table";
    if(search.length > 0){
      url += "?search="+search;
      parameter = true;
    }
    if(state !== 'All'){
      if(parameter)
        url += "&state="+state;
      else
        url += "?state="+state;
      parameter = true;
    }
    
    if(site !== 'All'){
      if(parameter)
        url += "&site="+site;
      else
        url += "?site="+site;
      parameter = true;
    }
    console.log(url);
    return url;
  };
  
  var search_server = function ( ){
    var url = generateUrlTable();
    $.get(url, function(data){
      $("#table").html(data);
    });
  };
    
  $('#search_btn').click(search_server);
  $( document ).ready(search_server);
  
  var socket = io.connect('http://localhost:3000');
  
  socket.on('connect',function(msg){
    socket.emit('join',$('input[name=site]:checked').val().toUpperCase());
  });
  
  socket.on('disconnect',function(msg){
    socket.emit('leave',$('input[name=site]:checked').val().toUpperCase());
  });
  
  socket.on('message',function(msg){
    Lobibox.notify(msg.type, {
      size: 'mini',
      msg: msg.message
});     
    console.log(msg);
  })
</script>

