<!-- Div to show the map, note to this ID, will be important -->
<div id="map" style="width:1200px;height:900px;background-color:red;position:fixed">
<div id="map_div"></div>
</div>

<script type="text/javascript">
/*var options = {
            attributionControl: false,
            scrollWheelZoom: true,
            minZoom: 2,
            maxZoom: 15
          };
var map = L.map('map_div', options).setView([40.891649, -88.032887], 7);
map.addLayer(new L.Google('ROADMAP'));

var database = 'servers';
var collection = 'sample_simplegeo_4m';
var mapKey = '104a884c-8c07-4955-893e-e61c5334cc4f';
var rendered = L.tileLayer('https://api.gogeo.io/1.0/map/' + database + '/' + collection + '/{z}/{x}/{y}/tile.png?mapkey=' + mapKey + '&buffer=8');
// add the rendered tile layer to the map
map.addLayer(rendered);*/

var mapconfig = {
  "version": "1.0.1",
  "layers": [{
    "type": "cartodb",
    "options": {
      "cartocss_version": "2.1.1",
      "cartocss": "#layer { polygon-fill: #FFF; }",
      "sql": "select * from european_countries_e"
    }
  }]
}

$.ajax({
  crossOrigin: true,
  type: 'POST',
  dataType: 'json',
  contentType: 'application/json',
  url: 'https://documentation.cartodb.com/api/v1/map',
  data: JSON.stringify(mapconfig),
  success: function(data) {
    var templateUrl = 'https://documentation.cartodb.com/api/v1/map/' + data.layergroupid + '/400/400/400.png'
    console.log(templateUrl);
  }
})
</script>
